name: Cargo build and test

on: [ "push", "pull_request" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Check Formatting
      run: cargo fmt --all -- --check

    - name: Check Clippy
      run: cargo clippy --all

  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build
      run: cargo build --verbose --all-features

    - name: Run tests
      run: cargo test --verbose
